<div class="jumbo">
	<h2>Edit this Post</h2>
</div>

<form class="listing">
	<div>
		<p>{{input type="text" value=model.title autofocus=true required=true}}</p>
		<p>{{textarea value=model.content required=true cols="80" rows="6"}}</p>
		<p>
			<label for="file">Choose file to upload(less than 50kb)</label>
			{{input name="file" type="file" value=model.attachment}}
		</p>
	</div>
	<div>
		<button type="button" class="button" {{action 'editPost' model}}>Edit</button>
		{{#link-to "posts" class="button red"}}Cancel{{/link-to}}
	</div>
</form>

{{outlet}}